header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
  background-color: rgb(23, 23, 116);
  border-radius: 0 0 8px 8px;
  gap: 20px;
}

button {
  cursor: pointer;
  color: white;
  border: none;
  background-color: rgb(23, 23, 116);
  border-radius: 8px;
}
